<app-navbar></app-navbar>

<section class="hero-section">
    <div class="hero-content">
        <h1>Find A <span class="highlight">Perfect Home</span> To Live With Your Family</h1>
        <p>Embark on a journey to find a home that resonates with your family's aspirations. Our properties offer the perfect blend of luxury and warmth.</p>
        <button class="get-started-btn">Get Started</button>
    </div>
    <div class="hero-image">
        <img src="assets/hero2.jpg" alt="House Image">
    </div>
</section>

<section class="search-section">
    <div class="search-bar">
        <input type="text" placeholder="Search Keyword">
        <select>
            <option>Property Type</option>
            <option>House</option>
            <option>Apartment</option>
            <option>Land</option>
        </select>
        <input type="text" placeholder="Location">
        <button class="search-btn">Search</button>
    </div>
</section>

<app-property-listing></app-property-listing>



<app-footer></app-footer>