
.header {
    display:flex;
    position: relative;
    justify-content: space-between;
    align-items:center;
    padding: 0px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    background-image: linear-gradient(120deg, #ebe3e3 0%, #a9b8c0 100%);
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
    animation:animate__fadeInLeft ease-in;
    animation-duration: 3s;
}

.header:hover {
    transform: scale(1.02); /* Slight zoom effect */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}

.project-name{
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

.nav {
    display:flex;
    align-items: center;
}

.nav-link {
    margin: 0 8px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link.active {
    color: #007bff;
    transform: scale(1.05);
}

.dropdown {
    position: relative;
    z-index: 1000;
}

.dropdown-content {
    display:none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.add-property-btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
}

.add-property-btn:hover {
    background-color: #00a2ff;
}

.user-name {
    margin: 15px;
    font-size: 20px;
    color: #000000;
  }
  
  .profile-section:hover .dropdown-content {
    display: block;
  }


.mobile-nav-toggle{
    display: none;
}

/* MOBILE STYLES */
@media (max-width: 768px) {
    .header {
        flex-direction: row;
        padding: 0;
        width: 100%;
        margin: 0;
    }

    .name {
        font-size: 20px;
        align-items: center;
        position: fixed;
    }

    .nav {
        display: none; /* Hide the navigation bar initially */
        flex-direction: row;
        margin-top: 35px;
    }

    .nav-link {
        padding: 5px;
        width: 100%;
        margin-top: 35px;
        text-align: center;
        align-items:baseline;
        border-bottom: 1px solid #ddd;
    }

    .mobile-nav-toggle {
        display: block;
        background: none;
        font-size: 20px;
        color: #333;
        position: inherit;
    }

    .nav.active {
        display: flex; /* Show the navigation bar when the toggle is clicked */
    }

    .dropdown .dropdown-content{
        margin-right: 0;
    }
}

