<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="info-container">
      <div class="info">
        <h2>"Discover, Invest, Live"</h2>
        <p>Estate Ease is a premier online platform for seamless property management, connecting buyers, sellers, and renters. Whether you're looking to post properties for sale or rent, or find your next home or investment, Estate Ease offers a user-friendly and efficient solution. Our mission is to simplify real estate transactions and make property management accessible to everyone.</p>
        <br>
        <hr>
        <br>
        <h2>Our Services</h2>
        <ul class="list">
          <li>Easy property posting for sale or rent</li>
          <li>Access to a wide range of properties</li>
          <li>Advanced search filters by location, price, and type</li>
          <li>Personalized property recommendations</li>
          <li>Secure and reliable transactions</li>
          
          <!-- Add more services as needed -->
        </ul>
      </div>
    </div>
  </div>
<app-footer></app-footer>