<footer class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h3>About Us</h3>
        <p>
          We are a leading real estate company providing top-notch services to help you find your dream property. 
        </p>
      </div>
  
      <div class="footer-section links">
        <h3>Quick Links</h3>
        <ul>
          <li><a routerLink="../home-page" >Home</a></li>
          <li><a routerLink="../property-listing">Properties</a></li>
          <li><a routerLink="../home-page">Contact</a></li>
          <li><a href="../about-page">About</a></li>
        </ul>
      </div>
  
      <div class="footer-section contact">
        <h3>Contact Us</h3>
        <p>Email: {{mailId}} </p>
        <p>LinkedIn: <a href="www.linkedin.com/in/nikhil-shekhar-a13543228">Nikhil Shekhar</a></p>
      </div>
    </div>
  
    <div class="footer-bottom">
      &copy; 2024 Real Estate. All rights reserved.
    </div>
  </footer>
  